#xcom_htm, #xcom_pre {
   border: 1px solid gray;
   padding: 4px;
   margin-top: 8px;
   overflow:scroll;
   height: 450px;
}

div.xcom_editdiv  {
     margin-top: 8px;
}

#xcom_status {
   border-top: 1px solid gray;
   padding: 4px;   
   margin-top: 20px;
   background-color: #eee
}


#xcom_status a:link {color:#333;}    /* unvisited link */
#xcom_status a:visited {color:#333;} /* visited link */
#xcom_status a:hover {color:#999;}   /* mouse over link */
#xcom_status a:active {color:#000;}  /* selected link */
button.xcom_send_but, a.xcom_send_but { color: #2b73b7;  font-weight:600; } 
a span.xcom_send_link { color: #2b73b7; float:right;  margin-right:24px;} 

table.xcom_center {
    margin:auto;    
  }
 td.xcom_snippet, td.xcom_none  {
   border-bottom: 2px solid black; 
}
